#background{
  position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 1024px;
	height: 768px;
  background: black;
  -webkit-transform: translate3d(0,0,0);
  -webkit-user-select: none;
}

#canvas{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 768px;
  background: transparent;
  -webkit-transform: translate3d(0,0,0);
  -webkit-user-select: none;
}

#topbar{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 100px;
  background: transparent;
  -webkit-transform: translate3d(0,0,0);
  -webkit-user-select: none;
}
